{% extends 'base.html' %}

{% block body-class %}full agentex dossier profile {%endblock%}

{%block header %}
Agent Exoplanet
{%endblock%}

{% block main-content %}
<div class="page stackedpaper">
  <div class="padder">
				<div class="row rowfirst">
			        <div class="sixcol lastcol">
			            <h2>500 error : Server failure</h2>
			            <p>Something bad happened. Many apologies - we are working to fix it.</p>
		            </div>
				</div>
      </div>
    </div>
{% endblock %}
