{% extends 'base.html' %}
{% load static observing_extras %}

{% block body-class %}full agentex dossier planets {%endblock%}

{% block script-content %}
	<script type="text/javascript" charset="utf-8">
	<!--
	$(document).ready(function(){
			bubblePopup({id:'message',el:$('#main'),align:"center",fade:2000,w:200,animate:true,dismiss:true});
	});
	// -->
	</script>
{%endblock%}

{%block header %}Planets{%endblock%}

{% block main-content %}
				<div class="page stackedpaper">
{% if messages %}					<div id="message">
						<ul class="messages">
{% for message in messages %}{%ifchanged%}		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
						</ul>
					</div>{% endif %}
					<h1>Investigate a planet</h1>
					<p>{% if user.is_authenticated %}Welcome <a href="{% url 'profile' %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{user.username}}{% endif %}</a>, c{% else %}C{% endif %}lick on one of the planets below to begin your investigation.</p>
					<ul class="polaroids">
{% for line in object_list %}
						<li class="polaroid">
              {% with progress=user|planetprogress:line %}
              {% if progress == line.numobs %}
              <span class="polaroidtriangle"><img src="{% static 'images/label_complete.png' %}" alt="completed" title="Completed" /></span>
              {% else %}
                {% if line.level %}
                {% with "images/label_"|add:line.level|add:".png" as level_static  %}
                <span class="polaroidtriangle"><img src="{% static level_static %}" alt="{{line.level}}" title="{{line.level}}" /></span>
                {% endwith %}
                {% endif %}
              {% endif %}
              <a href="{% url 'infoview' line.slug %}">
                {% with line.illustration as image_static %}
                <img src="{% static image_static %}" alt="Illustration of {{line.title}}" title="Click to begin your investigation of {{line.title}}">
                {% endwith %}
                <span class="objectspecific">{{line.title}}</span></a><br />
                <span class="objectspecific">
                  {% if progress %}(Completed {{progress}}/{{line.numobs}}){% else %}({{line.numobs}} images){% endif %}
                </span>
                {% endwith %}
              </li>
{% endfor %}
						<li class="polaroid"><a href="#"><img src="{% static 'images/unknown.png' %}" alt="Coming soon" title="Access denied"> <span class="objectspecific">Coming soon</span></a></li>
					</ul>

					<p style="margin-bottom:0px;">Data courtesy of <a href="https://lco.global">Las Cumbres Observatory</a>; Thumbnail images courtesy of the <a href="http://www.sdss.org/">Digital Sky Survey 2</a>.</p>
				</div>
{% endblock %}

{% block section-nav%}
{% endblock %}
